*{
    box-sizing: border-box;
}
.table{
    display: table;
    width: 70%;
    border-collapse: collapse;
    margin-top: 10px;
}
.row{
    display: table-row;

}
.row div {
    display: table-cell;
    text-align: center;
    border: none;
    border: 1px solid #ccc;
    vertical-align: middle;
}